{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Ecommerce" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>E-commerce</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    </head>
    <body>
        <div id="main-wrapper">
            <div class="header header-dark dark-text">
                <div class="container">
                    <nav id="navigation" class="navigation navigation-landscape">
                        <div class="nav-header">
                            <a class="nav-brand" href="#">
                                <img src="{% static 'assets/img/logo.png' %}" class="logo" alt="" />
                            </a>
                            <div class="nav-toggle"></div>
                            <div class="mobile_nav">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fas fa-search-alt"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fas fa-user"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fas fa-heart text-white"></i><span class="dn-counter">2</span> </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'store:cart' %}"> <i class="fas fa-shopping-cart"></i><span class="dn-counter">0</span> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="nav-menus-wrapper" style="transition-property: none">
                            <ul class="nav-menu">
                                <li><a href="/">Home</a></li>
                                {% if request.user.is_authenticated %}
                                     <li>
                                        <a href="{% url 'store:cart' %}">Shop</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'vendor:dashboard' %}">Vendors</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="javascript:void(0);">Pages</a>
                                    <ul class="nav-dropdown nav-submenu">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="faq.html">FAQs</a></li>
                                        <li><a href="privacy.html">Privacy Policy</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Track Order <i class="fas fa-truck ms-1"></i></a>
                                </li>
                            </ul>

                            <ul class="nav-menu nav-menu-social align-to-right">
                                <li>
                                    <a href="#"><i class="fas fa-search text-white"></i></a>
                                </li>
                                {% if request.user.is_authenticated %}
                                    <li>
                                        <a href="{% url 'customer:dashboard' %}"><i class="fas fa-user text-white"></i></a>
                                    </li>
                                    <li>
                                      <a href="#"><i class="fas fa-heart text-white"></i><span class="dn-counter">2</span> </a>
                                    </li>
                                {% endif %}    
                                <li>
                                    <a href="{% url 'store:cart' %}"><i class="fas fa-shopping-cart text-white"></i><span class="dn-counter total_cart_items">{{total_cart_items}}</span> </a>
                                </li>


                                {% if request.user.is_authenticated %}

                                    <li>
                                        <a href="{% url 'userauths:sign-out' %}" class="btn bg-primary py-2 px-4 rounded text-white"><i class="fas fa-sign-out-alt me-1"></i> Sign Out </a>
                                    </li>
                                {% else %}    
                                    <li>
                                        <a href="{% url 'userauths:sign-in' %}" class="btn bg-primary py-2 px-4 rounded text-white">Sign In <i class="fas fa-sign-in-alt ms-1"></i></a>
                                    </li>
                                     <li>
                                        <a href="{% url 'userauths:sign-up' %}" class="btn bg-primary py-2 px-4 rounded text-white">Sign Up <i class="fas fa-user-plus ms-1"></i></a>
                                     </li>

                                {% endif %}
                                
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Header ends -->
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                      <strong>{{ message }}</strong>
                </div>

            {% endfor %}


            {% block content %}
            
            {% endblock content %}
        
            <!-- Footer Starts -->
            <footer class="dark-footer skin-dark-footer style-2">
                <div class="footer-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                                <div class="footer_widget">
                                    <img src="{% static 'assets/img/logo-light.png' %}" class="img-footer small mb-2" alt="" />

                                    <div class="address mt-3">123 Main Street ST <br />United States 324235</div>
                                    <div class="address mt-3">+123 (456) 7890<br />info@ecommerce.com</div>
                                    <div class="address mt-3">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a href="#"><i class="fab fa-facebook"></i></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#"><i class="fab fa-youtube"></i></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                                <div class="footer_widget">
                                    <h4 class="widget_title">Supports</h4>
                                    <ul class="footer-menu">
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">About Page</a></li>
                                        <li><a href="#">Size Guide</a></li>
                                        <li><a href="#">Shipping & Returns</a></li>
                                        <li><a href="#">FAQ's Page</a></li>
                                        <li><a href="#">Privacy</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                                <div class="footer_widget">
                                    <h4 class="widget_title">Company</h4>
                                    <ul class="footer-menu">
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Affiliate</a></li>
                                        <li><a href="#">Login</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                                <div class="footer_widget">
                                    <h4 class="widget_title">Subscribe</h4>
                                    <p>Receive updates, hot deals, discounts sent straignt in your inbox daily</p>
                                    <div class="foot-news-last">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Email Address" name="email" id="email" autocomplete="on"/>
                                            <div class="input-group-append">
                                                <button type="button" class="input-group-text b-0 text-light"><i class="fas fa-arrow-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="address mt-3">
                                        <h5 class="fs-sm text-light">Secure Payments</h5>
                                        <div class="scr_payment"><img src="{% static 'assets/img/card.png' %}" class="img-fluid" alt="" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12 col-md-12 text-center">
                                <p class="mb-0">© 2024 Ecommerce</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/ion.rangeSlider.min.js' %}"></script>
        <script src="{% static 'assets/js/slick.js' %}"></script>
        <script src="{% static 'assets/js/slider-bg.js' %}"></script>
        <script src="{% static 'assets/js/lightbox.js' %}"></script>
        <script src="{% static 'assets/js/smoothproducts.js' %}"></script>
        <script src="{% static 'assets/js/snackbar.min.js' %}"></script>
        <script src="{% static 'assets/js/jQuery.style.switcher.js' %}"></script>
        <script src="{% static 'assets/js/custom.js' %}"></script>
        <script src="{% static 'assets/js/function.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </body>
</html>
