{% extends 'partials/base.html' %} {% load static %} {% load humanize %} {% block content %}

<div class="gray py-3">
    <div class="container">
        <div class="row">
            <div class="colxl-12 col-lg-12 col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Customer</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Address Update</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="middle">
    <div class="container">
        <div class="row align-items-start justify-content-between">
            <div class="col-12 col-md-12 col-lg-4 col-xl-4 miliods">
                <div class="d-block border rounded">
                    <div class="dashboard_author px-2 py-5">
                        <div class="dash_auth_thumb circle p-1 border d-inline-flex mx-auto mb-2">
                            <img src="../../assets/img/team-2.jpg" class="img-fluid circle" width="100" alt="" />
                        </div>
                        <div class="dash_caption">
                            <h4 class="fs-md ft-medium mb-0 lh-1">Benny Henry</h4>
                            <span class="text-muted smalls">Customer ID: #465743</span>
                        </div>
                    </div>

                    <div class="dashboard_author">
                        <h4 class="px-3 py-2 mb-0 lh-2 gray fs-sm ft-medium text-muted text-uppercase text-left">Dashboard Navigation</h4>
                        <ul class="dahs_navbar">
                            <li>
                                <a href="/../customer/dashboard.html"><i class="bi bi-grid-fill me-2"></i>Dashboard</a>
                            </li>
                            <li>
                                <a href="/../customer/orders.html"><i class="fas fa-shopping-basket me-2"></i>Orders</a>
                            </li>
                            <li>
                                <a href="/../customer/wishlist.html"><i class="fas fa-heart me-2"></i>Wishlist</a>
                            </li>
                            <li>
                                <a href="/../customer/profile.html"><i class="fas fa-user me-2"></i>Profile</a>
                            </li>
                            <li>
                                <a href="/../customer/address.html" class="active"><i class="fas fa-map-marker me-2"></i>Address</a>
                            </li>
                            <li>
                                <a href="/./auth/sign-in.html"><i class="fas fa-power-off me-2"></i>Log Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-8 col-xl-8">
                <div class="row mb-4">
                    <h4 class="mb-0 mb-2 fw-bold">Update Address</h4>
                </div>

                <div class="col-xl-12">
                    <div class="row align-items-center">
                        <form class="row m-0" method="POST">
                            {% csrf_token %}
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                                <div class="form-group">
                                    <label class="small text-dark ft-medium">Full Name</label>
                                    <input type="text" name="full_name" class="form-control rounded" value="{{address.full_name}}" />
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                                <div class="form-group">
                                    <label class="small text-dark ft-medium">Email</label>
                                    <input type="text" name="email" class="form-control rounded" value="{{address.email}}" />
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                                <div class="form-group">
                                    <label class="small text-dark ft-medium">Mobile</label>
                                    <input type="text" name="mobile" class="form-control rounded" value="{{address.mobile}}" />
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                                <div class="form-group">
                                    <label class="small text-dark ft-medium">Address</label>
                                    <input type="text" name="address" class="form-control rounded" value="{{address.address}}" />
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                                <div class="form-group">
                                    <label class="small text-dark ft-medium">City</label>
                                    <input type="text" name="city" class="form-control rounded" value="{{address.city}}" />
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                                <div class="form-group">
                                    <label class="small text-dark ft-medium">State</label>
                                    <input type="text" name="state" class="form-control rounded" value="{{address.state}}" />
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                                <div class="form-group">
                                    <label class="small text-dark ft-medium">Country</label>
                                    <input type="text" name="country" class="form-control rounded" value="{{address.country}}" />
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <a href="{% url 'customer:addresses' %}" class="btn bg-secondary text-white btn-sm rounded"> <i class="fas fa-arrow-left"></i> Go Back</a>
                                    <button type="submit" class="btn bg-primary text-white btn-sm rounded">Save Changes <i class="fas fa-save ms-2"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}