{% extends 'partials/base.html' %} {% load static %} {% load humanize %} {% block content %}

<div class="gray py-3">
    <div class="container">
        <div class="row">
            <div class="colxl-12 col-lg-12 col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/../customer/dashboard.html">Customer</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="middle">
    <div class="container">
        <div class="row align-items-start justify-content-between">
            {% include 'customer/sidebar.html' %}

            <div class="col-12 col-md-12 col-lg-8 col-xl-8">
                <!-- Single Order List -->
                <div class="row mb-4">
                    <h4 class="mb-0 mb-4 fw-bold">Orders</h4>
                </div>

                <div class="ord_list_wrap border mb-4 mfliud">
                    {% for order in orders %}
                        <div class="ord_list_head gray d-flex align-items-center justify-content-between px-3 py-3 mb-4">
                            <div class="olh_flex">
                                <p class="m-0 p-0"><span class="text-muted">Order Number</span></p>
                                <h6 class="mb-0 ft-medium">#{{order.order_id}}</h6>
                            </div>
                            <div class="olh_flex">
                                <a href="{% url 'customer:order_detail' order.order_id %}" class="btn btn-sm bg-primary rounded text-white">View Order</a>
                            </div>
                        </div>
                        <div class="ord_list_body text-left">
                            <!-- Single Item -->
                            {% for item in order.order_items.all %}
                                <div class="row align-items-center justify-content-center m-0 py-4 br-bottom">
                                    <div class="col-xl-6 col-lg-5 col-md-5 col-12">
                                        <div class="cart_single d-flex align-items-start mfliud-bot gap-3">
                                            <div class="cart_selected_single_thumb">
                                                <a href="#"><img src="{{item.product.image.url}}" width="75" class="img-fluid rounded" alt="" /></a>
                                            </div>
                                            <div class="cart_single_caption pl-3">
                                                <h4 class="product_title fs-sm ft-medium mb-1 lh-1">{{item.product.name}}</h4>
                                                <p class="mb-2">
                                                    <span class="text-dark medium">Vendor: {{item.product.vendor.profile.full_name}}</span> <br />

                                                    {% if item.color %}
                                                        <span class="text-dark medium">Color: {{item.color}}</span>
                                                    {% endif %}

                                                    {% if item.size %}
                                                        <span class="text-dark medium">Size: {{item.size}}</span>
                                                    {% endif %}
                                                   
                                                </p>
                                                <h4 class="fs-sm ft-bold mb-0 lh-1">${{item.price}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-3 col-6">
                                        <p class="mb-1 p-0"><span class="text-muted">Status</span></p>
                                        <div class="delv_status"><span class="ft-medium small text-warning bg-light-warning rounded px-3 py-1">{{order.order_status}}</span></div>
                                    </div>
                                    <div class="col-xl-2 col-lg-4 col-md-4 col-6">
                                        <p class="mb-1 p-0"><span class="text-muted">Payment Status</span></p>
                                        <h6 class="mb-0 ft-medium fs-sm">{{order.payment_status}}</h6>
                                    </div>
                                    <div class="col-xl-2 col-lg-4 col-md-4 col-6">
                                        <p class="mb-1 p-0"><span class="text-muted">Order Date</span></p>
                                        <h6 class="mb-0 ft-medium fs-sm">{{order.date}}</h6>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="ord_list_footer d-flex align-items-center justify-content-between br-top px-3">
                            <div class="col-xl-12 pr-0 py-2 olf_flex d-flex align-items-center justify-content-between">
                                <div class="olf_flex_inner hide_mob">
                                    <p class="m-0 p-0"><span class="text-muted medium">Paid using {{order.payment_method}}</span></p>
                                </div>
                                <div class="float-end"><h5 class="mb-0 fs-sm ft-bold">Total: ${{order.total}}</h5></div>
                            </div>
                        </div>
                        {% empty %}
                        <p>No item in orders</p>
                    {% endfor %}
                    
                </div>
                <ul class="pagination">
                    {% if orders.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ orders.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                    {% endif %}
        
                    {% for num in orders.paginator.page_range %}
                        <li class="page-item {% if orders.number == num %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
        
                    {% if orders.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ orders.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock content %}