{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<div class="gray py-3">
    <div class="container">
        <div class="row">
            <div class="colxl-12 col-lg-12 col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Iphone 12 Pro Max</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="middle">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="sp-loading"><img src="{{product.image.url}}" alt="" /><br />LOADING IMAGES</div>
                <div class="sp-wrap">
                    <a href="{{product.image.url}}"><img src="{{product.image.url}}" alt="" /></a>

                    {% for image in product.gallery.all %}
                        <a href="{{image.image.url}}"><img src="{{image.image.url}}" alt="" /></a>
                    {% endfor %}
                    
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="prd_details">
                    <div class="prt_01 mb-1"><span class="text-purple bg-light-purple rounded py-1">{{product.category.title}}</span></div>
                    <div class="prt_02 mb-3">
                        <h2 class="ft-bold mb-1">{{product.name}}</h2>
                        <div class="text-left">
                            <div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
                                {% if not product.average_rating  %}
                                    <i class="fas fa-star text-warning"></i>
                                    {% elif product.average_rating > 0 and product.average_rating < 2 %}
                                    <i class="fas fa-star text-warning"></i>
                                    {% elif product.average_rating > 1 and product.average_rating < 3 %}
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    {% elif product.average_rating > 2 and product.average_rating < 4 %}
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    {% elif product.average_rating > 3 and product.average_rating < 5 %}
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    {% elif product.average_rating > 4 %}
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                {% endif %}
                                
                                <span class="small ms-2">({{product.reviews.all.count|default:"0"}} Reviews)</span>
                            </div>
                            <div class="elis_rty mt-3"><span class="ft-medium text-muted line-through fs-md me-3">${{product.regular_price}}</span><span class="ft-bold theme-cl fs-lg me-3">${{product.price}}</span>
                            {% if product.stock > 0 %}
                                <span class="ft-regular text-light bg-success py-1 px-2 fs-sm">In Stock</span>
                            {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="prt_03 mb-4">
                        <p></p>
                    </div>

                    <div class="mb-2">
                        <p class="d-flex align-items-center text-dark ft-medium">Color:</p>
                        <div class="text-left">

                            {% for variant in product.variants.all %}
                                {% if variant.name == "Color" %}
                                    {% for c in variant.items.all %}
                                        <div class="form-check form-option form-check-inline mb-1">
                                            <input class="form-check-input" value="{{c.title}}" type="radio" name="color" id="{{c.content}}" />
                                            <label class="form-option-label" for="{{c.content}}"><span class="form-option-color" style="background-color: {{c.content}}" ></span></label>
                                        </div>
                                    {% endfor %}                                                                                                         
                                {% endif %}
                            {% endfor %}
                                                      
                        </div>
                    </div>

                    <div class="prt_04 mb-4">
                        <p class="d-flex align-items-center mb-0 text-dark ft-medium">Size:</p>
                        <div class="text-left pb-0 pt-2">
                            {% for variant in product.variants.all %}
                                {% if variant.name == "Size" %}
                                    {% for s in variant.items.all %}
                                        <div class="form-check size-option form-option form-check-inline mb-2">
                                            <input class="form-check-input" value="{{s.title}}" type="radio" name="size" id="{{s.content}}"/>
                                            <label class="form-option-label" for={{s.content}}>{{s.content}}</label>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="prt_05 mb-4">
                        <div class="d-flex gap-3 mb-7">
                            <div class="">
                                <!-- Quantity -->
                                <select class="form-select quantity" name="quantity" id="quantity">
                                    {% for qty in product_stock_range %}
                                        <option class="stock-{{qty}} quantity" value="{{ qty }}">{{ qty }}</option>
                                    {% endfor %}                                                                     
                                </select>
                            </div>
                            <div class="">
                               <!--<a href="#" class="btn btn-sm bg-primary text-white rounded add_to_cart" data-id="{{product.id}}">Add to cart <i class="fas fa-shopping-cart ms-2"></i></a>-->
                                
                                <button type="button" class="btn btn-sm bg-primary text-white rounded add_to_cart" data-id="{{product.id}}">Add to cart <i class="fas fa-shopping-cart ms-2"></i></button>
                            </div>
                            <div class="">
                                <button class="btn btn-sm bg-primary text-white rounded" data-toggle="button"><i class="fas fa-heart mr-2"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="prt_06">
                        <p class="mb-0 d-flex align-items-center">
                            <span class="mr-4">Share:</span>
                            <a class="d-inline-flex align-items-center justify-content-center p-3 gray circle fs-sm text-muted ms-2" href="#!">
                                <i class="fab fa-twitter position-absolute"></i>
                            </a>
                            <a class="d-inline-flex align-items-center justify-content-center p-3 gray circle fs-sm text-muted ms-2 me-2" href="#!">
                                <i class="fab fa-facebook-f position-absolute"></i>
                            </a>
                            <a class="d-inline-flex align-items-center justify-content-center p-3 gray circle fs-sm text-muted" href="#!">
                                <i class="fab fa-pinterest-p position-absolute"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= Product Detail End ======================== -->

<!-- ======================= Product Description ======================= -->
<section class="middle">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-11 col-lg-12 col-md-12 col-sm-12">
                <ul class="nav nav-tabs b-0 d-flex align-items-center justify-content-center simple_tab_links mb-4" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="description-tab" href="#description" data-toggle="tab" role="tab" aria-controls="description" aria-selected="true">Description</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#information" id="information-tab" data-toggle="tab" role="tab" aria-controls="information" aria-selected="false">Additional information</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#reviews" id="reviews-tab" data-toggle="tab" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <!-- Description Content -->
                    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                        <div class="description_info">
                            <p class="p-0 mb-2">
                                {{product.description|safe}}
                            </p>
                        </div>
                    </div>

                    <!-- Additional Content -->
                    <div class="tab-pane fade" id="information" role="tabpanel" aria-labelledby="information-tab">
                        <div class="additionals">
                            <table class="table">
                                <tbody>
                                   {% for variant in product.variants.all %}
                                        {% if variant.name == "Specifications" %}
                                            {% for s in variant.items.all %}
                                                <tr>
                                                    <th class="ft-medium text-dark">{{s.title}}</th>
                                                    <td>{{s.content}}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                   {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Reviews Content -->
                    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                        <div class="reviews_info">
                            {% for r in product.reviews.all %}
                                <div class="single_rev d-flex align-items-start br-bottom py-3 bg-light rounded p-3">
                                    <div class="single_rev_caption d-flex align-items-start pl-3">
                                        <div class="single_capt_left">
                                            <h5 class="mb-0 fs-md ft-medium lh-1">{{r.user.username|title}}</h5>
                                            <span class="small">{{r.date|date:"d M, Y"}}</span>
                                            <p>{{r.review}}</p>
                                        </div>
                                        <div class="single_capt_right">
                                            <div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="middle pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="sec_title position-relative text-center">
                    <h3 class="ft-bold pt-3">Related Products</h3>
                </div>
            </div>
        </div>

        <div class="row align-items-center rows-products">
            {% for p in related_products %}
               <div class="col-lg-3 mb-3">
                   <div class="product_grid card b-0  rounded-3 shadow m-2 p-2">
                       <div class="card-body p-0">
                           <div class="shop_thumb position-relative">
                               <a class="card-img-top d-block overflow-hidden" href="{% url 'store:product_detail' p.slug %}"><img class="card-img-top" style="width: 100%; height: 230px; object-fit: cover;" src="{{p.image.url}}" alt="..." /></a>
                           </div>
                       </div>
                       <div class="card-footer b-0 p-0 pt-2 bg-white d-flex align-items-start justify-content-between">
                           <div class="text-left">
                               <div class="text-left">
                                   <div class="elso_titl"><span class="small"><a href="#">{{p.category.title}}</a></span></div>
                                   <h5 class="fs-md mb-0 lh-1 mb-1"><a href="{% url 'store:product_detail' p.slug %}">{{p.name}}</a></h5>
                                       <div class="star-rating align-items-center d-flex justify-content-left mb-2 p-0 mt-3">
                                       {% if not p.average_rating  %}
                                       <i class="fas fa-star text-warning"></i>
                                       {% elif p.average_rating > 0 and p.average_rating < 2 %}
                                       <i class="fas fa-star text-warning"></i>
                                       {% elif p.average_rating > 1 and p.average_rating < 3 %}
                                       <i class="fas fa-star text-warning"></i>
                                       <i class="fas fa-star text-warning"></i>
                                       {% elif p.average_rating > 2 and p.average_rating < 4 %}
                                       <i class="fas fa-star text-warning"></i>
                                       <i class="fas fa-star text-warning"></i>
                                       <i class="fas fa-star text-warning"></i>
                                       {% elif p.average_rating > 3 and p.average_rating < 5 %}
                                       <i class="fas fa-star text-warning"></i>
                                       <i class="fas fa-star text-warning"></i>
                                       <i class="fas fa-star text-warning"></i>
                                       <i class="fas fa-star text-warning"></i>
                                       {% elif p.average_rating > 4 %}
                                       <i class="fas fa-star text-warning"></i>
                                       <i class="fas fa-star text-warning"></i>
                                       <i class="fas fa-star text-warning"></i>
                                       <i class="fas fa-star text-warning"></i>
                                       <i class="fas fa-star text-warning"></i>
                                       {% endif %}
                                   </div>
                                   <div class="elis_rty"><span class="ft-bold text-dark fs-sm">${{p.price}}</span></div>
                               </div>
                               <div class="d-flex align-items-center gap-3">
                                       <button type="button" class="btn btn-sm bg-primary text-white rounded add_to_cart" data-id="{{p.id}}">Add to cart <i class="fas fa-shopping-cart ms-2"></i></button>
                                       <input type="hidden" class="quantity" value="1" name="" id="">
                                       <a href="#" class="add_to_wishlist" data-product_id="{{p.id}}"><i class="fas fa-heart fs-4 text-black"></i></a>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           {% endfor %}
       </div>
    </div>
</section>
{% endblock content %}